APP_NAME="Umerkot Event House"
APP_ENV=local
APP_KEY=base64:JQdQG9foeWgkRDtMiLVNLiPFKqm8ZSWXSg9HZ8c4hcc=
APP_DEBUG=true
APP_URL=http://localhost:8000
CURRENCY_SYMBOL=$

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
APP_MAINTENANCE_STORE=database

# PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=umerkot_event_house
DB_USERNAME=root
DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.hostinger.com
MAIL_PORT=465
MAIL_USERNAME=crm@pixarch.net
MAIL_PASSWORD=UtBcZoZdRHiFVb7o4QipJ04F3
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS=crm@pixarch.net
MAIL_FROM_NAME="PIXARCH CRM"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

BROADCAST_DRIVER=pusher

PUSHER_APP_ID=2092189
PUSHER_APP_KEY=6df1f7a1cbc2d4fe9575
PUSHER_APP_SECRET=12bd3ea4be36503ad07c
PUSHER_APP_CLUSTER=ap2   # or whatever cluster you have

VITE_PUSHER_APP_KEY=6df1f7a1cbc2d4fe9575
VITE_PUSHER_APP_CLUSTER=ap2