.status-row-wrapper {
    width: 100%;
}

.status-row {
    display: flex;
    white-space: nowrap;
    overflow-x: auto; /* horizontal scroll */
    padding-bottom: 10px;
}

.status-card {
    flex-shrink: 0;
    min-width: 33.333%; /* col-md-4 width for 3 visible cards */
    max-width: 33.333%;
    margin-right: 1rem;
}

.task-column {
    max-height: 300px; /* vertical scroll if many items */
    overflow-y: auto;
}

.task-card {
    cursor: move;
}

.sortable-ghost {
    opacity: 0.4;
}

.drag-item {
    user-select: none;
}            

#lead-notes-wrapper {
    display: flex;
    flex-direction: column-reverse;
}